metadata/
reports/
org/
data_raw/
data_processed/
db/
superset/
data_interim_csv/
old_notebooks/
hs_codes_json/

*.duckdb
*.db
*.csv
.bat
.Rproj

*_files/
*.html
# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
.venv/
venv/
ENV/
env/

# Пакеты и сборка
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# =========================
# R
# =========================
.Rhistory
.Rapp.history
.RData
.Ruserdata

# Папка RStudio
.Rproj.user/

# Сборка пакета R
.Rproj
.Rproj.user
.Rcheck/

# R Markdown
*_cache/
cache/
*.utf8.md
*.knit.md

# Quarto cache
.quarto/
_freeze/
_site/

# =========================
# IDE
# =========================
# VS Code
.vscode/
# PyCharm
.idea/
# RStudio
.Rproj.user/

# =========================
# Логи
# =========================
*.log
logs/

# =========================
# Секреты и API ключи
# =========================
.env
.env.local
.env.*.local
/.quarto/
